{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="healthcare, pregnancy, Childbirth, newborn, baby">
  <meta name="author" content="codebook.in">

  <title>User Registration</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'userapp/images/apple-touch-icon.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'userapp/images/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'userapp/images/favicon-16x16.png'%}">
  <link rel="manifest" href="{% static 'userapp/images/site.webmanifest'%}">
  <link rel="mask-icon" href="{% static 'userapp/images/safari-pinned-tab.svg'%}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/bootstrap/css/bootstrap.min.css' %}">

  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'userapp/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'userapp/css/style.css' %}">
  {% include 'includes/theme-head.html' with theme_scope='public' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="top" class="public-portal-page">
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <script>swal({
          title: "Success!",
          text: "{{message}}",
          icon: "success",
          button: "OK",
      });
  </script>
  
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
          title: "Warning :)",
          text: "{{message}}",
          icon: "warning",
          button: "OK",
       
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
  <script>swal({
          title: "info :)",
          text: "{{message}}",
          icon: "info",
          button: "OK",
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
          title: "error :)",
          text: "{{message}}",
          icon: "error",
          button: "OK",
      });
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}

{% include 'includes/public-navbar.html' with active_page='user' %}
	


<!-- User Registration Start -->

<div class="container-fluid bg-gray">
    <div class="row h-100 align-items-center justify-content-around p-2" >
        <div class="col-xl-5">
          <img src="{% static 'userapp/images/signup.PNG' %}" alt="" class="regimg">
        </div>
      
      <div class=" col-sm-8 col-md-6 col-lg-5 col-xl-5">  
            <div class="card bg-light rounded p-sm-5 my-2 mx-3">
                <div class="d-flex align-items-center justify-content-center mb-3">
                        <h3 class="text-primary">User Registration</h3>

                </div>
                <div class="form">  
                    <form method="POST" enctype="multipart/form-data" name="myform" onsubmit="return validateRForm()"> {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">      
                                <label for="floatingInput" >Full Name</label>                 
                                <input type="text" class="form-control" name="fullname" placeholder="Your Name" autofocus>
                                </div>
                            </div>
                            <div class="col">
                              <div class="form-floating mb-3">      
                                  <label for="floatingInput" >Email address</label>                 
                                  <input type="email" class="form-control" name="email" placeholder="name@example.com" autofocus>
                              </div>
                          </div>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col"> 
                                <div class="form-floating mb-3">      
                                <label for="floatingInput" >Phone Number</label>                 
                                <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col">
                              <div class="form-floating mb-3">      
                              <label for="floatingInput" >Address</label>                 
                              <input type="text" class="form-control" name="address" id="floatingInput" placeholder="Address">
                              </div>
                          </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Relation with patient </label>
                                <select class="form-control" name="relation">
                                    <option>Self</option>
                                    <option>Doctor</option>
                                    <option>Relative</option>
                                  </select>
                            </div>
                            <div class="col"> 
                                <div class="form-floating mb-4">
                                    <label for="floatingPassword" class="form-label"> Password</label>
                                    <input type="password" class="form-control" name="pwd" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="img">Upload Profile Picture
                            <input type="file" class="form-control-file" name="image"></label>
                        </div>

                    <button type="submit" class="btn btn-main btn-round-full py-3 w-100 mb-1">Register</button>
                   
                  </form>
                  <p class="text-center mt-2 mb-0">Already have an account? <a href="{% url 'userlogin' %}" class="h6">Login here</a></p>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- User Registration End -->




{% include 'includes/footer.html' %}

   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'userapp/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'userapp/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'userapp/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'userapp/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'userapp/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'userapp/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/counterup/jquery.counterup.min.js' %}"></script> 
    
    <script src="{% static 'userapp/js/script.js' %}"></script>
    <script src="{% static 'userapp/js/swal.js' %}"></script>
    <script src="{% static 'userapp/js/contact.js' %}"></script>

      <script src="{% static 'userapp/js/app-theme.js' %}"></script>
  </body>
  </html>
   