{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'includes/user-portal-head.html' with page_title=page_title extra_css=extra_css page_description=page_description theme_init=True portal_theme=True %}
</head>
<body id="top" class="user-portal-page{% if body_class %} {{ body_class }}{% endif %}">
{% include 'includes/flash-messages.html' %}
{% include 'userapp/includes/user-header.html' %}
{% include 'userapp/includes/alerts-fab.html' %}
<section class="page-title bg-2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-3 text-lg">{{ page_heading }}</h1>
          {% if page_subtitle %}<p class="text-white mb-0">{{ page_subtitle }}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% if wrap_content != False %}
<section class="section pt-4 pb-5">
  <div class="container">
{% endif %}
