{% load static %}
<script src="{% static 'userapp/plugins/counterup/jquery.easing.js' %}"></script>
<script src="{% static 'userapp/plugins/slick-carousel/slick/slick.min.js' %}"></script>
<script src="{% static 'userapp/plugins/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'userapp/plugins/shuffle/shuffle.min.js' %}"></script>
<script src="{% static 'userapp/plugins/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'userapp/js/contact.js' %}"></script>
